# Kevin - turns on amp in the morning
29 8 * * 2,4 sleep 30; /home/pi/dorm-automation/client/dormctl a2 on
59 9 * * 1,3,5 sleep 30; /home/pi/dorm-automation/client/dormctl a2 on

# Curtis - turns on amp for 10 minutes for media server alarm
14 4 * * 1-5 sleep 30; /home/pi/dorm-automation/client/dormctl a2 on
25 4 * * 1-5 /home/pi/dorm-automation/client/dormctl a2 off
44 5 * * 1-5 sleep 30; /home/pi/dorm-automation/client/dormctl a2 on
55 5 * * 1-5 /home/pi/dorm-automation/client/dormctl a2 off
